@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
}

@media print {
    @page {
        size: A4 landscape !important;
        margin: 0 !important;
    }
}

.dotted {
    padding: 0;
    margin: 0;
    background-image: radial-gradient(#f1f1f1 1px, transparent 1px);
    background-size: 10px 10px;
}
